/node_modules
/public/hot
/public/storage
/public/images/
/storage/*.key
/vendor
/resources/views/testes/*
/resources/views/produto/lista_generica.blade.php
/codeold
.github/
.vscode/
.env
.env.backup
ssh_key.txt
.phpunit.result.cache
docker-compose.override.yml
database-heroku.txt
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
LICENSE
README.md
comando_tinker_almoxarifado.txt
